#contact-main {
    width: 50vw;
    margin: 0 auto;
    margin-top: 5rem;
}

form {
    min-height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-container {
    width: 50%;
    margin: 0 auto;
    @include flex-column(space-between);
    gap: 1.5rem;

    input {
        padding: 15px;
    }
}

@media screen and (max-width: 1000px){
    #contact-main {
        width: 70vw;
    }
}
@media screen and (max-width: 650px){
    #contact-main {
        width: 80vw;
    }

    #form-container {
        width: 60%;
    }
}