header {
    background-color: $secondary-color;

    #header-container {
        width: 80%;
        margin: 0 auto;
        @include flex-row(space-between);

        h1 {
            margin: 0;
            padding: 2rem;
            color: white;
        }

        nav {
            
            ul {
                max-width: 30rem;
                @include flex-row(space-between);
                list-style: none;

                a {
                    color: white;
                    text-decoration: none;
                    padding: 1rem;
                    border-radius: 30px;
                    font-size: 1.2rem;
                }

                a:hover {
                    background-color: $accent-color;
                    color: $secondary-color;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}

@media screen and (max-width: 1050px){
    header {
        #header-container {
            width: 100%;
        }
    }    
}

@media screen and (max-width: 850px){
    header {
        #header-container {
            h1 {
                display: none;
            }
            nav {
                padding: 1.5rem;
                ul {
                    a {
                    font-size: 1rem;
                    }
                }
                
            }
        }
    }
}
@media screen and (max-width: 600px){
    header {
        #header-container {
            
            nav {
                margin: 0 auto;
                max-width: fit-content;
                ul {
                    a {
                        font-size: 0.75rem; 
                    }
                }
            }
        }
    }
}