@mixin flex-row($justify-content){
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: $justify-content;
}

@mixin flex-column($justify-content){
    display: flex;
    flex-flow: column nowrap;
    justify-content: $justify-content;
}