@font-face {
    font-family: comfortaa;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

$primary-color: #FDF0E0;
$secondary-color: #2146C7;
$accent-color: #E6CBA8;
$primary-font: comfortaa;
$h2-font-size: 3rem;
$h2-font-size-medium: 2rem;
$h2-font-size-small: 1.5rem;